button.btn.btn-theme-bg.btn-lg.margin-t.btn-orange {
background-color: #DA7702;
}
button.btn.btn-theme-bg.btn-lg.btn-orange {
  background-color: #DA7702;
}
button.btn.btn-green {
  background-color:#99C15D ;
  color: white;
}
button.btn.btn-orange {
  background-color:#DA7702 ;
  color: white;
}
.text-lg{
  font-size: 18px;
  font-weight: 800;
}
