
<div class='parking-review'>
  <div class='margin-l margin-r margin-t'>
    <h4>2nd and Main</h4>
    <div>
      <span>July 20<sup>th</sup>, 2015</span>
    </div>
    <div>
      <span class='padding-sm-r'>&#36;130.00 per Month</span>
      <span class='padding-sm-l padding-sm-r'>&#183;</span>
      <span class='padding-sm-r'>0.2 mi</span>
    </div>
    <button class='btn btn-primary margin-t' {{action 'payParking'}}>Go pay</button>
  </div>
</div>

<div class='parking-map pull-left'>
  <div class='parking-image--selected'>
  </div>
</div>
