<div class='create-or-login'>
  <h3 class='create-header' {{action 'signUp'}}>Create</h3>
  <span class='center-line margin-r'></span>OR<span class='center-line margin-l'></span>
  <h3 class='login-header' {{action 'logIn'}}>Login</h3>
</div>

<div class='text-center'>
  <button class='btn btn-primary ' {{action 'payParking'}}>temp button to go to Review parking</button>
</div>
