
<div class='create-or-login'>
  <button class='create-header btn' {{action 'signUp'}}>Create a new account</button>
  <br>
  <span class='center-line margin-r'></span>OR<span class='center-line margin-l'></span>
  <br>
  <button class='login-header btn' {{action 'logIn'}}>Log in</button>
</div>
