.parking-map {
  @extend .clearfix;
  height: calc(100% - 70px);
  width: 70%;
}

.parking-map--small {
  width: 448px;
  height: 400px;
}
.parking-map-wide {
  height: auto;
  width: 100%;
}

.parking-image {
  height: 100%;
  width: 100%;
  background: url('/images/google-map-cars.jpg') no-repeat;
  background-size: cover;
}

.parking-image--selected {
  @extend .parking-image;
  background: url('/images/google-map-selected.jpg') no-repeat;
  background-size: cover;
}
