.parking-map {
  @extend .clearfix;
  height: calc(100% - 70px);
  width: calc(100% - #{$map-side-content-width});
}

.parking-map--small {
  width: 448px;
  height: 400px;
}
.parking-map-wide {
  height: 200px;
  width: 100%;
}

.parking-image {
  height: 100%;
  width: 100%;
  background: url('/images/maps/google-map-locations.jpg') no-repeat;
  background-size: cover;
}

.parking-image--selected {
  @extend .parking-image;
  background: url('/images/maps/google-map-selected.jpg') no-repeat;
  background-size: cover;
}

// overwritting inline-styling
.map-canvas {
  // position: absolute !important;
  // width: 100% !important;
  // height: 100% !important;
}
