
<div class="divide80"></div>
<div class="container">
  <div class="row">
      <div class="col-md-6 margin20">
          <h3 class="heading">A little about us</h3>
          <p>
            Based in Seattle, Hype Park is all about making your daily commute easier, smarter and, yes, greener!

We unlock new parking spots close to your office or your transit hub so you and your carpool friends don’t waste your time, gas and feel-good capital hunting for an available spot.

Your new monthly parking spot is waiting for you : enjoy your day!

          </p>

      </div>
      <div class="col-md-6">
          <img src="images/team.jpg" class="img-responsive" alt="">
      </div>
  </div><!--about intro-->


</div><!--.container-->

<div class="divide60"></div>
{{!-- <div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="center-heading">
              <h2>Leading team members</h2>
              <span class="center-line"></span>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis</p>
          </div><!--center-heading-->
      </div>
  </div>
  <div class="row">
      <div class="col-md-3 margin20">
          <div class="team-wrap">
              <img src="img/team-1.jpg" class="img-responsive" alt="">
              <h4>Jolly smith</h4>
              <span>Web Designer</span>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
              </p>
              <ul class="list-inline social-1">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul><!--social-->
          </div><!--team-wrap-->
      </div><!--team col-->
      <div class="col-md-3 margin20">
          <div class="team-wrap">
              <img src="img/team-2.jpg" class="img-responsive" alt="">
              <h4>Jolly smith</h4>
              <span>Web Designer</span>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
              </p>
              <ul class="list-inline social-1">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul><!--social-->
          </div><!--team-wrap-->
      </div><!--team col-->
      <div class="col-md-3 margin20">
          <div class="team-wrap">
              <img src="img/team-3.jpg" class="img-responsive" alt="">
              <h4>Jolly smith</h4>
              <span>Web Designer</span>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
              </p>
              <ul class="list-inline social-1">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul><!--social-->
          </div><!--team-wrap-->
      </div><!--team col-->
      <div class="col-md-3 margin20">
          <div class="team-wrap">
              <img src="img/team-4.jpg" class="img-responsive" alt="">
              <h4>Jolly smith</h4>
              <span>Web Designer</span>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
              </p>
              <ul class="list-inline social-1">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul><!--social-->
          </div><!--team-wrap-->
      </div><!--team col-->
  </div>
</div><!--team-->
<div class="divide60"></div>
 --}}
{{partial 'footer'}}
