.create-or-login {
  position: relative;
  text-align: center;
  margin-top: 50px;
  
  .center-line {
    vertical-align: middle;
    border-bottom: 1px solid #bbb;
  }
}

.create-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-header {
  margin-top: 20px;
}
