.parking-details-map {
  .map-canvas {
    height: 300px!important;
    width: 100% !important;
  }
}

.parking-details-content{
  margin-top: 300px;
  height: calc(100% - 270px); // minus the height of the header and map
  width:85%;
}
.garage-image {
    width: 100%;
    height: 200px;
    background: url(/images/parking/parking-multi-storey-car-park.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.starting-date {
  padding: 10px;
  background-color: #efefef;
  margin-right: -15px;
}
.parking-spots-banner {
  .fa {
    font-size: 8px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
  }
  background-color: #5C534D;
  color:white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  margin: -10px;
}

.parking-contact-us {
  height: calc(100% - 218px);
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #f9f9f9;
  text-align: center;
}
