
.parking-review {
  @extend .clearfix;
  float: left;
  height: calc(100% - 70px);
  width: 60%;
}

.parking-review-map {
  height: auto;
  width: 100%;
}

.parking-confirmation {
  h4 {
    margin-bottom: 0;
  }
}
