<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' classNames='nav-hype-link navbar-brand'}}<img class='nav-hype-logo' src='images/HYPE_PARK_LOGO.png'>{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right text-center">
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li><a href="https://hypepark.zendesk.com/hc/en-us">FAQ</a></li>
        <li>{{#link-to 'partners'}}Partners{{/link-to}}</li>
        <li class="dropdown">
          {{#if session.isAuthenticated}}
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome back<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>{{#link-to 'profile'}}Profile{{/link-to}}</li>
              <li><a href="#">Subscriptions</a></li>
              <li>{{#link-to 'pay'}}Payment Info{{/link-to}}</li>
              <li>{{#link-to 'logout'}}Logout{{/link-to}}</li>
            </ul>
          {{else}}
            <a {{action 'signUp'}} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signup / Login</a>
          {{/if}}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
