<div class='parking-details-map'>
  <img class='parking-map-wide' src='/images/google-map-wide.jpg'>
</div>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12 col-sm-8'>
      <div class='margin-t'>
        <h4>111 S Jackson St</h4>
        <span><strong>&#36;127.50/month</strong></span>
        <span><strong>Seattle, WA, 98105</strong></span>
      </div>

      <div class='garage-image'>
        <img src='/images/garage.jpg' alt='Garage'>
      </div>
      <div class='margin-t'>
        <div class='parking-info'>
          <span>Weekly Hours:</span>
          <span>Monday to Sunday 24/7</span>
        </div>
        <div class='parking-info'>
          <span>Parking Type:</span>
          <span>Indoor Garage</span>
        </div>
        <div class='parking-info'>
          <span>Access:</span>
          <span>Gated Garage with key opener. In and out priviledges</span>
        </div>
        <div class='parking-info'>
          <span>Amenities:</span>
          <span>Wheelchair / stroller accessible. Staff onsite</span>
        </div>
        <div class='parking-info'>
          <span>Vehicle max dimensions:</span>
          <span>120” Max Height / 90” Max Width (fits a Dodge Caravan)</span>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <div class='margin-t starting-date'>
        <h4>Select Starting Date</h4>
        {{date-picker name='publish-date' date=controller.startDate valueFormat='YYYY-MM-DD'}}
        <div class='text-center'>
          <button class='btn btn-theme-bg btn-lg' {{action 'createOrLogin'}}>Book Now</button>
        </div>
        <div class='margin-t text-center'>
          <h4>Contact Us</h4>
          <h4>206-489-8078 (9am to 5pm)</h4>
          <h4>support@hypepark.com</h4>
        </div>
      </div>
    </div>
  </div>
</div>
