<div class='parking-details-map'>
  <img class='parking-map-wide' src='/images/google-map-wide.jpg'>
</div>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12 col-md-6'>
      <div class='margin-t'>
        <h4>2nd and Main</h4>
        <p>Parking lot owned by CarsRUs, family owned since 1996.</p>
        <div>
          <span class='padding-sm-r'>&#36;130.00 per Month</span>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-md-6'>
      <div class='margin-t'>
        <h4>Select Starting Date</h4>
        {{date-picker dateChanged='dateChanged'}}
        <button class='btn btn-primary btn-lg' {{action 'createOrLogin'}}>Book Now</button>
      </div>
    </div>
  </div>
</div>
