<div class="divide60"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="center-heading">
        <h1 class="invalid-title">We'll be in {{zipCode}} soon!</h1>
        <span class="center-line"></span>

        <p class="invalid-text">Return to the Search page to find other locations near you</p>
        <label for="back" class="sr-only">Back Button</label>
        <button class="btn btn-theme-bg btn-lg text-center margin-t" {{action 'returnHome' on="click"}}>Back to Search</button>
      </div>
    </div>


  </div>
</div>
