<footer id="footer">
  <div class="container">

    <div class="row">
      <div class='col-md-3 col-sm-4 col-xs-sm-6 col-xs-12-text-center margin30'>
        <div class='footer-col'>
          <h3>Hype Park</h3>
          <ul class='list-unstyled'>
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
            <li>Jobs</li>
            <li>Press</li>
            <li>Terms & Conditions</li>
            <li>Privacy</li>
          </ul>
        </div>
      </div>

      <div class='col-md-3 col-sm-4 col-xs-sm-6 col-xs-12-text-center margin30'>
        <div class='footer-col'>
          <h3>Monthly Parking</h3>
          <ul class='list-unstyled'>
            <li>How it works</li>
            <li>FAQ</li>
            <li>Parking Map</li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-sm-6 col-xs-12-text-center margin30">
        <div class="footer-col">
          <h3>Parking Partners</h3>

          <ul class='list-unstyled'>
            <li>Contact Us</li>
          </ul>
        </div>
      </div><!--footer col-->

      <div class="col-md-3 col-sm-6 col-xs-sm-6 col-xs-12-text-center margin30">
        <div class="footer-col">
          <h3>Contact Us</h3>
          <ul class='list-unstyled'>
            <li>206-489-8078</li>
            <li>Mon-Fri, 9AM - 5PM</li>
            <li><a href="mailto:info@hypepark.com">info@hypepark.com</a></li>
          </ul>
          {{!-- <ul class="list-inline social-1">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul> --}}

          <!-- TODO add social media shares -->
        </div>
      </div><!--footer col-->

      {{!-- <div class="col-md-3 col-sm-6 col-xs-12-text-center margin30">
        <div class="footer-col">
          <h3>Download Our App</h3>
          <ul class='list-unstyled'>
            <li class='margin-b'><img class='store-logos' src='/images/store-logos/apple-store.png'></li>
            <li class='margin-b'><img class='store-logos' src='/images/store-logos/google-store.png'></li>
            <li><img class='store-logos' src='/images/store-logos/windows-store.png'></li>
          </ul>
        </div>
      </div><!--footer col--> --}}
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-btm">
          <span>&copy;2015 Hype Park. All Rights Reserved</span>
        </div>
      </div>
    </div>
  </div>
</footer><!--default footer end here-->
