<footer id="footer">
  <div class="container">

    <div class="row">
      <div class='col-md-2 col-sm-4 col-xs-sm-6 col-xs-12-text-center margin30'>
        <div class='footer-col'>
          <h3>Featured Cites</h3>
          <ul class='list-unstyled'>
            <li>Balitmore</li>
            <li>Chicago</li>
            <li>Dallas</li>
            <li>New Orleans</li>
            <li>New York Parking</li>
            <li>Philadelphia</li>
            <li>San Francisco</li>
            <li>Washington D.C.</li>
          </ul>
        </div>
      </div>

      <div class='col-md-2 col-sm-4 col-xs-sm-6 col-xs-12-text-center margin30'>
        <div class='footer-col'>
          <h3>Work With Us</h3>
          <ul class='list-unstyled'>
            <li>Find Parking</li>
            <li>Parking Owners</li>
            <li>Venues and Events</li>
            <li>Parking App</li>
            <li>Invite Friends</li>
            <li>Customer Support</li>
            <li>Contact Us</li>
            <li>Gift Cards</li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-sm-6 col-xs-12-text-center margin30">
        <div class="footer-col">
          <h3>About Us</h3>

          <ul class='list-unstyled'>
            <li>Team</li>
            <li>Company</li>
            <li>Blog</li>
            <li>How It Works</li>
            <li>Press</li>
            <li>Jobs</li>
            <li>Terms</li>
            <li>Privacy</li>
          </ul>
        </div>
      </div><!--footer col-->

      <div class="col-md-3 col-sm-6 col-xs-sm-6 col-xs-12-text-center margin30">
        <div class="footer-col">
          <h3>Connect With Us</h3>
          <h4 class='phone-number-footer'>1-800-232-6415</h4>
          <p>7 days a week, 7am - 9pm EST</p>
          <ul class="list-inline social-1">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>

          <!-- TODO add social media shares -->
        </div>
      </div><!--footer col-->

      <div class="col-md-3 col-sm-6 col-xs-12-text-center margin30">
        <div class="footer-col">
          <h3>Download Our App</h3>
          <ul class='list-unstyled'>
            <li class='margin-b'><img class='store-logos' src='/images/store-logos/apple-store.png'></li>
            <li class='margin-b'><img class='store-logos' src='/images/store-logos/google-store.png'></li>
            <li><img class='store-logos' src='/images/store-logos/windows-store.png'></li>
          </ul>
        </div>
      </div><!--footer col-->
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-btm">
          <span>&copy;2015 Parking Panda Corp. All Rights Reserved</span>
        </div>
      </div>
    </div>
  </div>
</footer><!--default footer end here-->
