<div class='fullwidthbanner'>
  <div class='overlay'></div>
  <img class='banner-image' src='/images/seattle.jpg'>
  <!-- <img class='banner-image' src='/images/4812539493_32028f4d57_b.jpg'> -->
  <!-- <img class='banner-image' src='/images/12962102525_1639dbe93b_k.jpg'> -->

  <div class="banner-form">

    <h3 class='text-center'>Enter your address</h3>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1 text-center'>
        <label for="address" class='sr-only'>Address</label>
        <input type="text" class="form-control" id="address" placeholder="Address">
        <button class='btn btn-primary text-center margin-t' {{action 'submitAddress'}}>submit</button>
      </div>
    </div>
  </div>
</div>

<div class="divide60"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="center-heading">
        <h2><strong>What</strong> we do</h2>
        <span class="center-line"></span>
        <p class="sub-text margin40">
          We want to present you a simple and functional template “ASSAN”. It is a powerful Multi-Purpose HTML 5 Template. Build whatever you like with this Template that looks effortlessly on-point in Business </p>
        </div>
      </div>

    </div><!--center heading end-->
    <div class="divide50"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6 margin30">
        <div class="colored-boxed green">
          <i class="fa fa-cogs"></i>
          <h3>Free support & updates</h3>
          <span class="center-line"></span>
          <p>
            Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.
          </p>
        </div>
      </div><!--colored boxed col end-->
      <div class="col-md-3 col-sm-6 margin30">
        <div class="colored-boxed dark">
          <i class="fa fa-tablet"></i>
          <h3>Ultra responsive</h3>
          <span class="center-line"></span>
          <p>
            Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.
          </p>
        </div>
      </div><!--colored boxed col end-->
      <div class="col-md-3 col-sm-6 margin30">
        <div class="colored-boxed blue">
          <i class="fa fa-heart"></i>
          <h3>made with love</h3>
          <span class="center-line"></span>
          <p>
            Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.
          </p>
        </div>
      </div><!--colored boxed col end-->
      <div class="col-md-3 col-sm-6 margin30">
        <div class="colored-boxed red">
          <i class="fa fa-sliders"></i>
          <h3>Premium plugins</h3>
          <span class="center-line"></span>
          <p>
            Nullam vulputate lorem ut leo. Sed volutpat. Etiam non pede. Nullam et mauris.
          </p>
        </div>
      </div><!--colored boxed col end-->
    </div>
  </div><!--services container-->

  <div class="divide80"></div>

  <div class="wide-img-showcase">

    <div class="row margin-0 wide-img-showcase-row">
      <div class="col-sm-6 no-padding  img-2 ">
        <div class="no-padding-inner ">
          <div>&nbsp;</div>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-6 no-padding gray">
        <div class="no-padding-inner gray">
          <h3 class="wow animated fadeInDownfadeInRight">Core features of <span class="colored-text">assan</span></h3>
          <div class="services-box margin30 wow animated fadeInRight">
            <div class="services-box-icon">
              <i class="fa fa-tablet"></i>
            </div><!--services icon-->
            <div class="services-box-info">
              <h4>Fully Responsive</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
              </p>
            </div>
          </div><!--service box-->
          <div class="services-box margin30 wow animated fadeInRight">
            <div class="services-box-icon">
              <i class="fa fa-twitter"></i>
            </div><!--services icon-->
            <div class="services-box-info">
              <h4>bootstrap 3</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
              </p>
            </div>
          </div><!--service box-->

          <div class="services-box margin30 wow animated fadeInRight">
            <div class="services-box-icon">
              <i class="fa fa-code"></i>
            </div><!--services icon-->
            <div class="services-box-info">
              <h4>80+ valid HTML5 Pages and much more...</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
              </p>
            </div>
            <div class="divide30"></div>
            <p><a href="#" class="btn btn-theme-dark btn-lg">Purchase Now</a></p>
          </div><!--service box-->

        </div>
      </div>
    </div>
  </div><!--wide image showcase end-->
  <section class="fun-fact-wrap fun-facts-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-3 margin20 facts-in">
          <h3><span class="counter">1000</span> +</h3>
          <h4>Downloads</h4>
        </div><!--facts in-->
        <div class="col-md-3 margin20 facts-in">
          <h3><span class="counter">2300</span></h3>
          <h4>Happy Customers</h4>
        </div><!--facts in-->
        <div class="col-md-3 margin20 facts-in">
          <h3><span class="counter">80</span> +</h3>
          <h4>Valid layouts </h4>
        </div><!--facts in-->
        <div class="col-md-3 margin20 facts-in">
          <h3><span class="counter">3000</span></h3>
          <h4>Cups of tea</h4>
        </div><!--facts in-->
      </div>
    </div>
  </section><!--fun facts-->
  <div class="testimonials-v-2 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="center-heading">
            <h2><strong>What</strong> Client’s Say</h2>
            <p>1000+ Worldwide customers  use Assan template.</p>
            <span class="center-line"></span>

          </div>
        </div>
      </div><!--center heading end-->

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <div class="testi-slide">
            <ul class="slides">
              <li>
                <img src="img/customer-1.jpg" alt="">
                <p>
                  <i class="ion-quote"></i>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
                </p>
                <h4 class="test-author">
                  Rick man - <em>rock inc</em>
                </h4>
              </li><!--testi item-->
              <li>
                <img src="img/customer-2.jpg" alt="">
                <p>
                  <i class="ion-quote"></i>
                  Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years </p>
                  <h4 class="test-author">
                    Jellia - <em>Founder of tinka inc</em>
                  </h4>
                </li><!--testi item-->
                <li>
                  <img src="img/customer-3.jpg" alt="">
                  <p>
                    <i class="ion-quote"></i>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.</p>
                    <h4 class="test-author">
                      Smith - <em>Ceo, company inc.</em>
                    </h4>
                  </li><!--testi item-->
                </ul>
              </div><!--flex slider testimonials end here-->
            </div>
          </div><!--testi slider row end-->

        </div>
      </div><!--testimonials v-2 end-->
      <div class="blue-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 margin30">
              <div class="services-box wow animated fadeInDown">
                <div class="services-box-icon">
                  <i class="fa fa-bars"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                  <h4>80+ valid layouts</h4>
                  <p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                  </p>
                </div>
              </div><!--service box-->
            </div>
            <div class="col-sm-6 ">
              <div class="services-box wow animated fadeInUp">
                <div class="services-box-icon">
                  <i class="fa fa-download"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                  <h4>Free Support & Updates</h4>
                  <p>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                  </p>
                </div>
              </div><!--service box-->
            </div>
          </div>
        </div>
      </div><!--full wide 2 columns content end-->

      <footer id="footer">
        <div class="container">

          <div class="row">
            <div class="col-md-3 col-sm-6 margin30">
              <div class="footer-col">
                <h3>About assan</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.
                </p>
                <ul class="list-inline social-1">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
              </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
              <div class="footer-col">
                <h3>Contact</h3>

                <ul class="list-unstyled contact">
                  <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> vaisahali, jaipur, 302012</p></li>
                  <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">Support@designmylife.com</a></p></li>
                  <li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 1800 2345 2132</p></li>
                  <li> <p><strong><i class="fa fa-print"></i> Fax</strong> 1800 2345 2132</p></li>
                  <li> <p><strong><i class="fa fa-skype"></i> Skype</strong> assan.856</p></li>

                </ul>
              </div>
            </div><!--footer col-->
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="footer-btm">
                <span>&copy;2014. Theme by Design_mylife</span>
              </div>
            </div>
          </div>
        </div>
      </footer><!--default footer end here-->
      <!--scripts and plugins -->
      <!--must need plugin jquery-->
