<div class='fullwidthbanner'>
  <div class='overlay'></div>
  <img class='banner-image' src='/images/seattle.jpg'>
  <!-- <img class='banner-image' src='/images/4812539493_32028f4d57_b.jpg'> -->
  <!-- <img class='banner-image' src='/images/12962102525_1639dbe93b_k.jpg'> -->

  <div class="banner-form col-xs-12 col-md-6 col-md-offset-3">

    <h3 class='text-center'>Your monthly parking spot: a few clicks away</h3>

    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1 text-center'>
        <label for="address" class='sr-only'>Address</label>
        <input type="text" class="form-control" id="address" placeholder="Where do you want to park?">
        <button class='btn btn-theme-bg btn-lg text-center margin-t' {{action 'submitAddress'}}>submit</button>
      </div>
    </div>
  </div>
</div>

<div class="divide60"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="center-heading">
        <h2><strong>What</strong> we do</h2>
        <span class="center-line"></span>
        {{!-- <p class="sub-text margin40">
          We want to present you a simple and functional template “ASSAN”. It is a powerful Multi-Purpose HTML 5 Template. Build whatever you like with this Template that looks effortlessly on-point in Business </p> --}}
        </div>
      </div>

    </div><!--center heading end-->
    <div class="divide50"></div>
    <div class="row">
      <div class="col-md-4 col-sm-12 margin30">
        <div class="colored-boxed green">
          <i class="fa fa-tablet"></i>
          <h3>Simple to use</h3>
          <span class="center-line"></span>
          <p>
          6 click promise! 1. Type your address 2. Select your parking 3. Choose your starting date
          4. Create your account 5. Review your subscription 6. Pay
          </p>
        </div>
      </div><!--colored boxed col end-->
      <div class="col-md-4 col-sm-12 margin30">
        <div class="colored-boxed dark">
          <i class="fa fa-heart"></i>
          <h3>Fast Set Up</h3>
          <span class="center-line"></span>
          <p>
            Get your garage key or monthly sticker in a week directly mailed to you. You're good to park!
          </p>
        </div>
      </div><!--colored boxed col end-->
      <div class="col-md-4 col-sm-12 margin30">
        <div class="colored-boxed red">
          <i class="fa fa-sliders"></i>
          <h3>Easy Subscription Management</h3>
          <span class="center-line"></span>
          <p>
            Manage your subscription online. Update your profile or cancel subscrition with a click of a button. Any time, any where, at no cost. It doesn't get any easier.
          </p>
        </div>
      </div><!--colored boxed col end-->
    </div>
  </div><!--services container-->

  <div class="divide80"></div>

  <div class="wide-img-showcase">

    <div class="row margin-0 wide-img-showcase-row">
      <div class="col-sm-6 no-padding  img-2 ">
        <div class="no-padding-inner ">
          <div>&nbsp;</div>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-6 no-padding gray">
        <div class="no-padding-inner gray">
          <h3 class="wow animated fadeInDownfadeInRight">What we stand for</h3>
          <div class="services-box margin30 wow animated fadeInRight">
            <div class="services-box-icon">
              <i class="fa fa-tablet"></i>
            </div><!--services icon-->
            <div class="services-box-info">
              <h4>Smarter Mobility</h4>
              <p>
                Making you happier with easier, smarter and yes greener commute!
              </p>
              <p>Supporting better urban development by optimizing and unlocking new parking spots rather than building new ones.
</p>
            </div>
          </div><!--service box-->
          <div class="services-box margin30 wow animated fadeInRight">
            <div class="services-box-icon">
              <i class="fa fa-users"></i>
            </div><!--services icon-->
            <div class="services-box-info">
              <h4>Stronger Community</h4>
              <p>
                You park locally, we give locally : 1% of our profits are given back to local charities working to strengthen communities in the cities where we are operating.
              </p>
            </div>
          </div><!--service box-->
        </div>
      </div>
    </div>
  </div><!--wide image showcase end-->
  <section class="fun-fact-wrap fun-facts-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 margin20 facts-in">
          <h4>WE’RE IN BETA : TELL US WHAT WE CAN DO BETTER!
</h4>
<button class='btn btn-theme-dark btn-lg text-center margin-t'>Give Us Feedback!</button>
        </div><!--facts in-->
      </div>
    </div>
  </section><!--fun facts-->
  {{!-- <div class="testimonials-v-2 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="center-heading">
            <h2><strong>What</strong> Client’s Say</h2>
            <p>1000+ Worldwide customers  use Assan template.</p>
            <span class="center-line"></span>

          </div>
        </div>
      </div><!--center heading end-->

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <div class="testi-slide">
            <ul class="slides">
              <li>
                <img src="/images/customer-1.jpg" alt="">
                <p>
                  <i class="ion-quote"></i>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
                </p>
                <h4 class="test-author">
                  Rick man - <em>rock inc</em>
                </h4>
              </li><!--testi item-->
              <li>
                <img src="/images/customer-2.jpg" alt="">
                <p>
                  <i class="ion-quote"></i>
                  Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years </p>
                  <h4 class="test-author">
                    Jellia - <em>Founder of tinka inc</em>
                  </h4>
              </li><!--testi item-->
              <li>
                <img src="/images/customer-3.jpg" alt="">
                <p>
                  <i class="ion-quote"></i>
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.</p>
                  <h4 class="test-author">
                    Smith - <em>Ceo, company inc.</em>
                  </h4>
              </li><!--testi item-->
            </ul>
          </div><!--flex slider testimonials end here-->
        </div>
      </div><!--testi slider row end-->

    </div>
  </div><!--testimonials v-2 end-->
    <div class="blue-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin30">
            <div class="services-box wow animated fadeInDown">
              <div class="services-box-icon">
                <i class="fa fa-bars"></i>
              </div><!--services icon-->
              <div class="services-box-info">
                <h4>80+ valid layouts</h4>
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                </p>
              </div>
            </div><!--service box-->
          </div>
          <div class="col-sm-6 ">
            <div class="services-box wow animated fadeInUp">
              <div class="services-box-icon">
                <i class="fa fa-download"></i>
              </div><!--services icon-->
              <div class="services-box-info">
                <h4>Free Support & Updates</h4>
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
                </p>
              </div>
            </div><!--service box-->
          </div>
        </div>
      </div>
    </div><!--full wide 2 columns content end--> --}}
    {{partial 'footer'}}
